*{
    margin: 0;
    padding:0;
}
#container{
    width: 50%;
    margin: auto;
}
#header{
    display: block;
    overflow: hidden;
    padding: 20px;
}
#brand{
    float: left;
    width: 45%;
}
#brand h1{
    font-size: 34px;
    
}
#searchBox{
    background:linear-gradient(0deg, rgba(89,210,36,0.9331933456976541) 59%, rgba(242,246,247,1) 100%);
    float: right;
    width: 45%;
}
form input{
    margin: 20px;
    padding:5px;
}
input[type="submit"]{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(118,9,121,1) 79%, rgba(0,212,255,1) 100%);
    color:white;
}
input[type="text"]{
    background-image: url(images\search.png) ;
    background-repeat: no-repeat;
    background-position: right;   
}
#menu{
    height: auto;
    margin: 20px;
    padding: 30px;
    background: linear-gradient(0deg, rgba(89,210,36,0.9331933456976541) 59%, rgba(242,246,247,1) 100%);
    text-align:center;
    
}
#menu ul li{
    display: inline;
    height: 50px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}
#menu ul li:nth-child(2){
    border-right:  1px solid black;
    border-left:  1px solid black;
    margin: 20px;
    padding: 20px;
}
#menu ul li:nth-child(4){
    border-right:  1px solid black;
    border-left:  1px solid black;
    margin: 20px;
    padding: 20px;
}
#menu ul li a:hover, #menu ul li a.active{
    font-size: 25px;
    color:red;
    font: bold;
    
}
#menu ul li a{
    transition: font-size 1s  ease;
}
#introduction{
    width: auto;
    overflow: hidden;
    background-color: yellow;
    margin: 20px;
    padding: 20px;
}
#leftsidebar{
    border-radius: 20px;
    float: left;
    overflow: hidden;
    width: 40%;
    border: greenyellow 1px solid;
    margin: 20px;
    padding: 20px;
}
#leftsidebar ul{
    list-style: none;
    text-align:center;
}
#leftsidebar ul li{
    padding: 10px;
    background-image:url(images/arrow.png);
    background-repeat: no-repeat;
    background-position:left;
}
#leftsidebar ul li a{
    transition: font-size 1s  ease;
}
#leftsidebar ul li a:hover{
    font-size: 25px;
    color:red;
    font: bold;
}
#rightsidebar{
    border-radius: 20px;
    float: right;
    overflow: hidden;
    width: 40%;
    border: greenyellow 1px solid;
    margin: 20px;
    padding: 20px;
}
#rightsidebar  ul{
    list-style: none;
    text-align:center;
}

#rightsidebar ul li {
    padding: 23px;
    background-image:url(images/tick.png);
    background-repeat: no-repeat;
    background-position:left;
}
#rightsidebar ul li a{
    transition: font-size 1s  ease;
}
#rightsidebar ul li a:hover{
    font-size: 25px;
    color:red;
    font: bold;
}
.footer{
    clear: both;
    margin: 20px;
    padding: 20px;
    text-align:center;
    background: linear-gradient(0deg, rgba(89,210,36,0.9331933456976541) 59%, rgba(242,246,247,1) 100%);
}